<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="static-container tos">
    <h1>Better Education Terms of Service</h1>
    <ol>
        <li>
            <strong>Acceptance of Terms</strong>.
            <ol>
                <li>
                    In connection with your execution of the related Activation Form (the "<strong>Activation Form</strong>"), Better Car People, LLC d/b/a Better
                    Education ("<strong>Better Education</strong>") provides its services ("<strong>Services</strong>," and as further defined below) to you through
                    its web site located at courses.bettercarpeopleeducation.com (the "<strong>Site</strong>") and in person, subject to this Terms of Service
                    agreement ("<strong>TOS</strong>"). By executing the Activation Form, accepting this TOS or by accessing or using the Services or Site, you
                    acknowledge that you have read, understood, and agree to be bound by this TOS. If you are entering into this TOS on behalf of a company, business
                    or other legal entity, you represent that you have the authority to bind such entity and its affiliates to this TOS, in which case the terms "            <strong>you</strong>" or "<strong>your</strong>" shall refer to such entity and its affiliates. You may only use the Services if you are located in
                    the United States. If you do not have such authority, or if you do not agree with this TOS, you must not accept this TOS and may not use the
                    Services. Any capitalized terms used herein that are otherwise undefined shall have those definitions given to them in the Activation Form.
                </li>
                <li>
                    Better Education may change this TOS from time to time without prior notice. You can review the most current version of this TOS at any time at
                    courses.bettercarpeopleeducation.com. The revised terms and conditions will become effective upon posting and if you use the Services after that
                    date, your use will constitute acceptance of the revised terms and conditions. If any change to this TOS is not acceptable to you, your only remedy
                    is to stop accessing and using the Services.
                </li>
            </ol>
        </li>

        <li>
            <strong>Description of Services</strong>.
            The Services include (a) the Site, (b) monthly 1 hour consultation by a Better Education consultant, and (c) additional custom services as agreed
            between the parties.
        </li>

        <li>
            <strong>General Conditions/ Access and Use of the Services</strong>.
            <ol>
                <li>
                    Subject to the terms and conditions of this TOS, you may access and use the Services only for lawful purposes. All rights, title and interest in
                    and to the Services and its components will remain with and belong exclusively to Better Education. You shall not (a) sublicense, resell, rent,
                    lease, transfer, assign, time share or otherwise commercially exploit or make the Services available to any third party; (b) use the Services in
                    any unlawful manner (including without limitation in violation of any data, privacy or export control laws) or in any manner that interferes with
                    or disrupts the integrity or performance of the Services or its components, (c) modify, adapt or hack the Services to, or otherwise attempt to gain
                    unauthorized access to the Services or its related systems or networks; (d) copy, distribute, modify, translate, reverse engineer, decompile,
                    dissemble, upload or post the Services on a network, bulletin board, intranet, extranet or web site, create derivative works based on the Services,
                    or merge the Services into any other software; (e) allow any third party that is not an Authorized User to have access to the Services; or (iv)
                    remove or alter any trademark, logo, copyright or other proprietary notices, legends, symbols or labels in the Services. The Services are licensed
                    as a single product and may not be used other than as a single product. Authorized Users also agree to these TOS and you shall be obligated to
                    advise Authorized Users of the provisions contained in these TOS. You shall comply with any codes of conduct, policies or other notices Better
                    Education provides you or publishes in connection with the Services, and you shall promptly notify Better Education if you learn of a security
                    breach related to the Services. Without limiting any of the foregoing, you agree to comply, and require that your users comply, with all applicable
                    laws, whether federal, state, local or international, relating to the privacy of communication for all parties to a conversation
                </li>
                <li>
                    Any software that may be made available by Better Education in connection with the Service contains proprietary and confidential information that
                    is protected by applicable intellectual property and other laws. Subject to the terms and conditions of this TOS, Better Education hereby grants
                    you, for your internal business purposes only and for use only by any user under the terms of these TOS who secures from you the right to utilize
                    the Services pursuant to an assigned password ("<strong>Authorized Users</strong>"), a personal, non-transferable, non-sub-licensable and
                    non-exclusive right and license for the Term to use the object code of any Software, provided that you shall not (and shall not allow any third
                    party to) copy, modify, create a derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code or sell,
                    assign, sublicense or otherwise transfer any right in any Software. You agree not to access the Services by any means other than through the
                    interface that is provided by Better Education for use in accessing the Services. Any rights not expressly granted herein are reserved and no
                    license or right to use any trademark of Better Education or any third party is granted to you in connection with the Services.
                </li>
                <li>
                    You are solely responsible for all data, information, feedback, suggestions, text, content and other materials that you upload, post, deliver,
                    provide or otherwise transmit or store (hereafter "<strong>transfer(ring)</strong>") in connection with or relating to the Services ("            <strong>Your Content</strong>"). You and each Authorized User are responsible for maintaining the confidentiality of any login, password and
                    account and for all activities that occur under that login or account. Better Education reserves the right to access your account in order to
                    respond to your requests for technical support. By transferring Your Content on or through the Services, you hereby do and shall grant Better
                    Education a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sub-licensable and transferable license to use, modify,
                    reproduce, distribute, display, publish and perform Your Content solely in connection with the Services. Better Education has the right, but not
                    the obligation, to monitor the Services, content, or Your Content. You further agree that Better Education may remove or disable any of Your
                    Content at any time for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating
                    to such content), or for no reason at all.
                </li>
                <li>
                    You understand that the operation of the Services, including Your Content, will be encrypted and involve (a) transmissions over various networks;
                    (b) changes to conform and adapt to technical requirements of connecting networks or devices and (c) transmission to Better Education's third party
                    vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to operate and
                    maintain the Services. Better Education will have no liability to you for any unauthorized access or use of any of Your Content, or any corruption,
                    deletion, destruction or loss of any of Your Content.
                </li>
                <li>
                    The failure of Better Education to exercise or enforce any right or provision of this TOS shall not be a waiver of that right. You acknowledge
                    that this TOS is a contract between you and Better Education, even if it is in electronic form and is not physically signed by you and Better
                    Education, it governs your use of the Services and takes the place of any prior agreements between you and Better Education.
                </li>
                <li>
                    Better Education reserves the right to use your name and/or company name as a reference for marketing or promotional purposes on Better Education's
                    website and in other communications with existing or potential Better Education customers. To decline Better Education this right you need to email
                    <a href="mailto:support@bettercarpeople.com">support@bettercarpeople.com</a> stating that you do not wish to be used as a reference.
                </li>
            </ol>
        </li>

        <li>
            <strong>Payment</strong>.
            <ol>
                <li>
                    To the extent the Services or any portion thereof is made available for any fee, you will be required to select on the Activation Form a payment
                    plan and provide Better Education information regarding your credit card or other payment instrument. You represent and warrant to Better Education
                    that such information is true and that you are authorized to use the payment instrument. You will promptly update your account information with any
                    changes (for example, a change in your billing address or credit card expiration date) that may occur. You agree to pay Better Education the amount
                    that is specified in the payment plan in accordance with the terms of such plan and this TOS. You hereby authorize Better Education to bill your
                    payment instrument in advance on a periodic basis in accordance with the terms of the applicable payment plan until you terminate your account, and
                    you further agree to pay any charges so incurred. If you dispute any charges you must let Better Education know within sixty (60) days after the
                    date that Better Education invoices you. If any authority imposes any duty, tax, levy, or fee, excluding those based on Better Education' net
                    income, upon the Services, you agree to pay that amount as specified in an invoice or to supply such documentation as Better Education may
                    reasonably require to confirm an exemption from the payment of such taxes.
                </li>
                <li>
                    The prices for the Services shall be as set forth on the Activation Form or the Site. We reserve the right to change Better Education' prices. If
                    Better Education does, Better Education will provide notice of the change on the Site or in email to you, at Better Education's option, at least 30
                    days before the change is to take effect. Your continued use of the Services after the price change becomes effective constitutes your agreement to
                    pay the changed amount. If you do not pay Better Education for Services immediately, any amounts that are not paid within sixty (60) days of the
                    invoice date shall be considered past due and Better Education has the option to suspend the provision of Services until such past due amounts are
                    paid. Better Education shall have the right to charge and you shall pay, in addition to all other amounts owed to Better Education, interest
                    calculated at 1 and 1/2 percent per month on all amounts that have been due and payable to Better Education for sixty (60) days or longer. If
                    Better Education employs any process to recover any amount due and payable from you, you shall pay all costs of collection, including reasonable
                    attorneys' fees.
                </li>
            </ol>
        </li>

        <li>
            <strong>Confidentiality, Ownership and Intellectual Property</strong>.
            <ol>
                <li>
                    Confidential Information. "<strong>Confidential Information</strong>" means any information (either oral, written or digital) provided or prepared
                    by a party ("<strong>Disclosing Party</strong>") that is provided to, or obtained by the other party (including any director, officer, employee,
                    agent, or representative) ("<strong>Receiving Party</strong>") including but not limited to, that which relates to research, product plans,
                    products, services, agreements, markets, software, developments, inventions, processes, designs, drawings, engineering, technical data, know-how,
                    hardware configuration information, marketing or finances of the disclosing party. During the course of performance of this TOS, each party may
                    disclose to the other certain confidential information and each party shall hold the other party's Confidential Information in confidence and shall
                    use its best efforts to protect it. Each party shall not disclose the other party's Confidential Information to any third party, and shall use it
                    for the sole purpose of performing under this TOS. The term "<strong>Confidential Information</strong>" shall not include any information which:
                    (a) is in the public domain at the time of disclosure or enters the public domain following disclosure through no fault of the receiving party, (b)
                    the receiving party can demonstrate as already in its possession prior to disclosure hereunder or is subsequently disclosed to the receiving party
                    with no obligation of confidentiality by a third party having the right to disclose it or (c) is independently developed by the receiving party
                    without using the disclosing party's Confidential Information. At the conclusion of your use of the Services, each party shall either return the
                    other's Confidential Information in its possession or shall, at the disclosing party's direction, destroy the other party's Confidential
                    Information and certify its destruction to the disclosing party.
                </li>
                <li>
                    Ownership. All right, title and interest in and to the Services, and any copies thereof, and all documentation, code and logic which describes
                    and/or comprises the Services as well as in any specific customizations or alternations or customizations to the Services made at the request of,
                    or in conjunction with the Services are and shall at all times remain the sole property of Better Education, including all ownership rights to
                    patents, copyrights, trademarks, trade names, goodwill and trade secrets in connection therewith. You hereby assign, transfer and convey any and
                    all rights, title and interests, you may have or accrue in connection with development or use of the Services, including (without limitation) any
                    and all ownership rights to patents, trademarks, copyrights and trade secrets in connection therewith.
                </li>
            </ol>
        </li>
        <li>
            <strong>Representations and Warranties</strong>
            . You represent and warrant to Better Education that (i) you have full power and authority to enter into the Activation Form and this TOS; (ii) you own
            all Your Content or have obtained all permissions, releases, rights or licenses required to engage in your activities (and allow Better Education to
            perform its obligations) in connection with the Services without obtaining any further releases or consents; (iii) Your Content and other activities in
            connection with the Services, and Better Education's exercise of all rights and license granted by you herein, do not and will not violate, infringe,
            or misappropriate any third party's copyright, trademark, right of privacy or publicity, or other personal or proprietary right, nor does Your Content
            contain any matter that is defamatory, obscene, unlawful, threatening, abusive, tortious, offensive or harassing; and (iv) you are eighteen (18) years
            of age or older.
        </li>
        <li>
            <strong>Termination</strong>
            . You have the right to terminate your account at any time in accordance with 30 days advance written notice. Better Education reserves the right to
            (i) modify or discontinue, temporarily or permanently, the Services (or any part thereof) and (ii) refuse any and all current and future use of the
            Services, suspend or terminate your account (any part thereof) or use of the Services and remove and discard any of Your Content in the Services, for
            any reason, including if Better Education believes that you have violated this TOS. Better Education shall not be liable to you or any third party for
            any modification, suspension or discontinuation of the Services. Better Education will use good faith efforts to contact you to warn you prior to
            suspension or termination of your account by Better Education. All of Your Content on the Services (if any) may be permanently deleted by Better
            Education upon any termination of your account in Better Education's sole discretion. If Better Education terminates your account without cause and you
            have signed up for a fee-bearing service, Better Education will refund the pro-rated, unearned portion of any amount that you have prepaid to Better
            Education for such Services. However, all accrued rights to payment and the terms of the Activation Form shall survive termination of this TOS.
        </li>
        <li>
            DISCLAIMER OF WARRANTIES. THE SERVICES, INCLUDING THE SITE AND ITS CONTENT, AND ALL SERVER AND NETWORK COMPONENTS ARE PROVIDED ON AN "AS IS" AND "AS
            AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND, AND BETTER EDUCATION EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED,
            INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. YOU
            ACKNOWLEDGE THAT BETTER EDUCATION DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE OR VIRUS-FREE AND NO INFORMATION,
            ADVICE OR SERVICES OBTAINED BY YOU FROM BETTER EDUCATION OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS TOS.
        </li>
        <li>
            <strong>LIMITATION OF LIABILITY</strong>.
            <ol>
                <li>
                    UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL BETTER EDUCATION BE LIABLE TO YOU OR ANY THIRD
                    PARTY FOR (A) ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, LOST SALES OR BUSINESS, LOST
                    DATA OR BUSINESS INTERRUPTION, OR (B) FOR ANY DIRECT DAMAGES, COSTS, LOSSES OR LIABILITIES IN EXCESS OF THE FEES ACTUALLY PAID BY YOU IN THE SIX
                    (6) MONTHS PRECEDING THE EVENT GIVING RISE TO YOUR CLAIM OR, IF NO FEES HAVE BEEN PAID, ONE HUNDRED ($100) U.S. DOLLARS. THE PROVISIONS OF THIS
                    SECTION ALLOCATE THE RISKS UNDER THIS TOS BETWEEN THE PARTIES, AND THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER
                    INTO THIS TOS.
                </li>
                <li>
                    Some states do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, which means that
                    some of the above limitations may not apply to you. IN THESE STATES, BETTER EDUCATION'S LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED
                    BY LAW.
                </li>
            </ol>
        </li>
        <li>
            <strong>Indemnification</strong>.
            You shall defend, indemnify, and hold harmless Better Education from and against any claims, actions or demands, including without limitation
            reasonable legal and accounting fees, arising or resulting from your breach of this TOS, any of Your Content, or your other access, contribution to,
            use or misuse of the Services, including without limitation any claims for copyright infringement, defamation, invasion of privacy or right of
            publicity arising out of or in connection with any unauthorized use of the Services. Better Education shall provide notice to you of any such claim,
            suit or demand. Better Education reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under
            this section. In such case, you agree to cooperate with any reasonable requests assisting Better Education's defense of such matter.
        </li>
        <li>
            <strong>Assignment</strong>.
            You may not assign the Activation Form or this TOS without the prior written consent of Better Education, but Better Education may assign or transfer
            the Activation Form or this TOS, in whole or in part, without restriction.
        </li>
        <li>
            <strong>Governing Law</strong>.
            This TOS shall be governed by the laws of the State of North Carolina without regard to the principles of conflicts or choice of law. Unless
            otherwise elected by Better Education in a particular instance, you hereby expressly agree to submit to the exclusive personal jurisdiction of the
            federal and state courts of the State of North Carolina serving Union County, North Carolina for the purpose of resolving any dispute relating to your
            access to or use of the Services.
        </li>
        <li>
            <strong>Privacy</strong>.
            Please review our Privacy Policy at courses.bettercarpeopleeducation.com to understand how Better Education collects and uses personal information.
        </li>
        <li>
            <strong>Miscellaneous</strong>.
            <ol>
                <li>
                    The Activation Form and these TOS together shall constitute the entire agreement between you and Better Education with respect to the matters
                    referred to therein and shall supersede all previous agreements, proposals, oral and written, and all other communications between the parties in
                    relation to the subject matter of the Activation Form or this TOS.
                </li>
                <li>
                    Better Education shall not be liable for any failure to perform its obligations under this TOS or any failure of the Services because of
                    circumstances beyond the control of Better Education, which such circumstances shall include (without limitation) natural disaster, terrorism,
                    riot, sabotage, labor disputes, war, any acts or omissions of any government or governmental authority, declarations of governments, laws, court
                    orders, transportation delays, power failure, computer failure, failure of your computer system, Better Education's system reasonable downtime for
                    routine maintenance, network problems, telecommunications failure, failure of users to cooperate with the reasonable requests of Better Education,
                    misuse of the Services by you or a third party and your breach of its obligations.
                </li>
                <li>
                    All notices required pursuant or relating to the Activation Form or this TOS shall be in writing and will be sent by registered mail, postage
                    prepaid, addressed to the party's address provided by each party. Either party may change its address by notice given to the other in the manner
                    set forth in this paragraph. Notices shall be deemed given and received 5 calendar days after they are mailed.
                </li>
                <li>
                    Waiver of breach of the Activation Form or this TOS shall not constitute waiver of another breach. Failing to enforce a provision of the Activation
                    Form or this TOS shall not constitute a waiver or create an estoppel from enforcing such provision. Any waiver of a provision of this TOS shall not
                    be binding unless such waiver is in writing and signed by the party waiving such provision.
                </li>
                <li>
                    Alterations, modifications or amendments of provisions of the Activation Form or this TOS shall not be binding unless such alterations,
                    modifications or amendments are in writing and signed by authorized representatives of Better Education and you.
                </li>
                <li>
                    The provisions of this TOS shall be deemed severable. In the event that any provision of this TOS is determined to be unenforceable or invalid,
                    such provision shall nonetheless be enforced to the fullest extent permitted by applicable law, and such determination shall not affect the
                    validity and enforceability of any other remaining provisions of this TOS.
                </li>
                <li>
                    The terms outlined in the following sections shall survive any expiration or termination of these TOS: Sections 1, 4, 5 and 7 through 14.
                </li>
            </ol>
        </li>
    </ol>
</section>
