<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Vision")}</h1>
<p>${_("")}</p>
<p style="font-style:italic">${_("Better Car People provides dealerships with solutions for Sales and Service BDCs.")}</p>

<p style="font-style:italic">${_("We are a group of automotive and software professionals driven to bring cost effective solutions to dealers.")}</p>

<p style="font-style:italic">${_("Founded in 2010, we pride ourselves on the relationships we build with our customers and the growth we have seen because of it.")}</p>
<p style="font-style:italic">${_("We know and understand all facets of the automotive industry, and we want to help make you even more successful than you already are.")}</p>

<p style="font-style:italic">${_("The partners of BetterCarPeople bring extensive experience from the automotive industry. Together, they represent all aspects of the automotive world: sales, fixed operations, management, and extensive internet responsibilities.")}</p>

<p style="font-style:italic">${_("BetterCarPeople, and our core product Overnight BDC, were developed to provide solutions for dealerships in order to allow them to spend more time with the customer and less time on a computer. And this team, led by Matthew, Brian, Chris, and Tyler, has been ridiculously successful. They continue to look for new and better ways to make our products responsive and relevant.")}</p>
<p style="font-style:italic">${_("Our OvernightBDC for Sales helps your dealership handle leads at all hours. We know that 30% of all leads come in when your doors are shut and your lights are off. And we know autoresponders are a waste of time. We reach your customers in real time with a consistent, professional, personal and customized response. In less than 10 minutes. ")}</p>
<p style="font-style:italic">${_("You generally won't sell a car with the first email, but you could definitely lose a sale with a bad first impression. Let us be the best first hello to your potential customers 24x7x365, or when your doors are closed and the lights are out. The choice is yours.")}</p>
<p style="font-style:italic">${_("BetterAppointments for OnStar is the industry leader in OnStar lead management and response. We respond to 100% of your OnStar leads and make that first contact with your customer with a consistent, professional and interactive e-mail. You will not have to worry about making that initial contact. We've got it.")}</p>
<p style="font-style:italic">${_("BetterEducation is the newest in our suite of dealership solutions. We created an online learning environment like none other. It provides the convenience of learning at your own pace on your own time with great interactive tools and a personal touch. And a live coach to help you along the way! This is truly the best of all styles of training wrapped into one exciting, engaging package.")}</p>
<p style="font-style:italic;font-weight:bold;font-size:150%;">${_("BetterCarPeople")}</p>
<p style="font-style:italic;font-weight:bold;font-size:150%;">${_("Respond Better.  Sell More.")}</p>



</section>
