<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>
<p>${_("<strong>Who can sign up for the course?</strong>")}</p>
<p>${_("The dealership will provide the team list for the course. If people need to be added or removed, simply email us at <strong>tiea.roper@bettercarpeople.com</strong> and we will take care of it for you.")}</p>
<p>${_("")}</p>
<p>${_("")}</p>
<p>${_("<strong>What if I cannot log in?</strong>")}</p>
<p>${_("If you cannot log in, first check with your manager to ensure you were added to the list and that your email address is correct. If that is not the issue, contact tiea.roper@bettercarpeople.com and we will get you up and running.")}</p>
<p>${_("")}</p>
<p>${_("")}</p>
<p>${_("<strong>The YouTube videos are not working. What do I do?</strong>")}</p>
<p>${_("Check with your IT department and make sure that YouTube has been enabled on the computers. If you are still having issues on both mobile and desktop, please contact tiea.roper@battercarpeople.com")}</p>
<p>${_("")}</p>
<p>${_("")}</p>
<p>${_("<strong>Should I use Internet Explorer, Chrome or Firefox?</strong>")}</p> 
<p>${_("This site should work with any browser, but if you are having issues, Chrome works the best with the technology.")}</p>
<p>${_("")}</p>
<p>${_("")}</p>
<p>${_("<strong>I cannot remember my password. Who do I contact?</strong>")}</p>
<p>${_("Contact tiea.roper@bettercarpeople.com and we will reset your password for you.")}</p>
<p>${_("")}</p>
<p>${_("")}</p>
<p>${_("<strong>How do I get my certificate?</strong>")}</p>
<p>${_("When you have completed the course, you will receive a certificate on your course page. If you do not, please contact tiea.roper@bettercarpeople and she will send it to you.")}</p>
</section>
