<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Vision")}</h1>
<p style="font-style:italic">${_("Better Car People provides dealerships with solutions for Sales and Service BDCs.")}</p>
<p style="font-style:italic">${_("We are a  group of automotive and software professionals driven to bring cost effective solutions to dealers.")}</p>
<p style="font-style:italic">${_("Founded in 2010, we pride ourselves on the relationships we build with our customers and the growth we have seen because of it.")}</p>
<p style="font-style:italic">${_("We know and understand all facets of the automotive industry, and we want to help make you even more successful than you already are.")}<p>
<p style="font-style:italic">${_("We are big enough to work with the major manufacturers, and small enough to know our dealerships by name.")}</p>
<p>${_("")}</p>
<p style="font-style:italic;font-weight:bold;font-size:150%;">${_("We find your dealership's pain and fix it.")}</p>
<p>${_("")}</p>
<p style="font-style:italic;font-weight:bold;">${_("<a href='mailto:bettered@bettercarpeople.com'>bettered@bettercarpeople</a> for more information.")}</p>
</section>
