<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="static-container honor">
<h1>${_("BetterCarPeople Honor Code Pledge")}</h1>

<h2>${_("COLLABORATION POLICY")}</h2>
    <p>${_("")}</p>
<p>${_("By enrolling in a course on BetterCarPeople Education, you are joining a special community of learners. The aspiration of BetterCarPeople Education is to provide anyone in the world who has the motivation and ability to engage in bettering themselves and their dealership. You are part of the community who will help BetterCarPeople Education achieve this goal.")}</p>
<p>${_("BetterCarPeople Education depends upon your motivation to learn the material and to do so with honesty. In order to participate in BetterCarPeople Education , you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.")}</p>
<p>${_("BetterCarPeople Education  <strong>HONOR CODE PLEDGE</strong>")}</p>
<p>${_("By enrolling in an BetterCarPeople Education course, I agree that I will:")}</p>
    <ul>
<li  style='line-height: 1.5em;'>${_("Complete all tasks and assignments with my own work and only my own work.")}</li>
<li style='line-height: 1.5em;'>${_("I will not submit the work of any other person.")}</li>
<li style='line-height: 1.5em;'>${_("Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.")}</li>
        </ul>
<p>${_("Unless otherwise indicated by the instructor of an BetterCarPeople Education course, learners on BetterCarPeople Education are encouraged to:")}</p>
           <ul>
<li  style='line-height: 1.5em;'>${_("Collaborate with others on the lecture videos, exercises, homework and labs.")}</li>
<li  style='line-height: 1.5em;'>${_("Discuss with others general concepts and materials in each course.")}</li>
<li  style='line-height: 1.5em;'>${_("Present ideas and written work to fellow BetterCarPeople Education learners or others for comment or criticism.")}</li>
        </ul>
<h2>${_("CHANGING THE HONOR CODE")}</h2>
<p>${_("Please note that we review and may make changes to this Honor Code from time to time.  Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date.  By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein.  Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.")}</p>

<p>${_("Effective Date: December 1, 2015")}</p>
<p>${_("*adapted from the edX Honor Code for BetterCarPeople")}</p>
</section>
