> .home {
  margin: 0;
  background: none;

  > header {
    @include bsquare(auto);

    box-shadow: none;
    background: url('../images/bcp-education-hero.png') center center no-repeat;
    background-size: 100% auto;
    border: none;
    background-color: $brand-primary;
    margin: 0;

    .outer-wrapper {
      @include bsize(100%, 100%);
      background-color: rgba(0,0,0,0.5);

      border-radius: $border-radius-base;
      padding: 60px 10%;
      max-width: 100%;

      .title {
        @include bsquare(auto);

        background: none;
        box-shadow: none;
        border: 0 none;
        transition: none;
        float: none;
        min-height: 0;
        margin: 0;
        padding: 0;

        hgroup {
          padding: 0;
          transition: none;
          color: $white;

          h1 {
            font: inherit;
            font-size: $font-size-h1;
            font-weight: 500;
            color: inherit;
            text-shadow: none;
            text-transform: none;
            margin: 0;
            line-height: 1em;
            margin-bottom: 0.5em;
          }

          h2 {
            font: inherit;
            font-size: $font-size-h2;
            color: inherit;
            text-shadow: none;
            text-transform: none;
            margin: 0;
            line-height: 1em;
          }
        }
      }

      .media {
        @include bsquare(auto);
        @include make-md-column(4);
        @include make-lg-column(4);

        display: block;
        background: none;
        border: 0 none;
        float: none;
        margin: 0;
        padding: 0;

        @media (max-width: $screen-sm-max) {
          width: 350px;
        }

        @media (max-width: $screen-xs-max) {
          width: auto;
        }

        .hero {
          @include bsize(auto, 170px);

          background: none;
          overflow: initial;
          position: static;
          margin: auto;
          background: $black;
          border: 1px solid $border-color;
          border-radius: $border-radius-base;

          @media (max-width: $screen-sm-max) {
            margin: 15px 0 0 0;
          }
        }
      }
    }
  }

  .container {
    @include custom-container();
  }

  .courses-container {
    padding-top: 48px;

    @import 'course/courses';
  }

}
