> .passwordreset {
    @include custom-container();

    margin-top: $layout-top-spacing;
    background: none;

    $_aside-size: 300px;

    .introduction {
        background: none;
        margin: 0;

        header {

            h1 {
                font: inherit;
                font-size: $font-size-h1;
                color: $brand-primary;
                text-transform: none;
            }
        }
    }

    > div {
        border: 0 none;
        background: none;
    }

    .content {
        @include bsize(100%, auto);

        margin: 0;
        padding: 0;

        @media (min-width: $screen-md-min) {
            margin-right: -$_aside-size;
            padding-right: $_aside-size + 40px;
            float: left;
        }

        p {
            font: inherit;
            color: inherit;
        }

        a {
            font: inherit;
            color: $brand-primary;
        }

        form {
            .status {
                @include custom-alert();

                &.submission-error {
                    @include custom-alert-error();
                }
            }

            .list-input {
                color: inherit;
                font: inherit;

                 > li {
                     position: relative;
                 }
            }

            label {
                font: inherit;
                color: inherit;
                text-shadow: none;
            }

            input {
                font: inherit;
                color: inherit;
                display: inline-block;
                margin: 0;
            }

            input[type=password] {
                @extend .custom-input;
            }

            .form-actions {
                button[type=submit] {
                    @include custom-btn($white, $brand-success);

                    @media (min-width: $screen-md-min) {
                        @include bsquare(auto);

                        padding-left: 2.5em;
                        padding-right: 2.5em;
                    }

                    font-weight: $headings-font-weight;
                }
            }
        }
    }

    aside {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @include bsize($_aside-size, auto);

        padding: 0;
        margin: 0;
        float: right;

        p {
            font: inherit;
            color: inherit;

            font-size: 0.9em;
        }

        a {
            font: inherit;
            color: $brand-primary;
        }
    }
}
