@import url('bundle-blessed3.css?z=1439837806909');
@import url('bundle-blessed2.css?z=1439837806909');
@import url('bundle-blessed1.css?z=1439837806909');

.content-wrapper .login-register .form-field input[type=text],
.content-wrapper .login-register .form-field input[type=email],
.content-wrapper .login-register .form-field input[type=password],
.content-wrapper .login-register .form-field textarea,
.content-wrapper .login-register .form-field select {
  background: none;
  background-color: #ffffff;
  font: inherit;
  color: inherit;
  height: 34px;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #cccccc;
  outline: none;
  padding: 0.6em 1em;
  transition: all 0.1s ease-in;
}
.content-wrapper .login-register .form-field input[type=text] + span:after,
.content-wrapper .login-register .form-field input[type=email] + span:after,
.content-wrapper .login-register .form-field input[type=password] + span:after,
.content-wrapper .login-register .form-field textarea + span:after,
.content-wrapper .login-register .form-field select + span:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  top: 0.2em;
  right: 0.5em;
}
.content-wrapper .login-register .form-field input[type=text].valid-input,
.content-wrapper .login-register .form-field input[type=email].valid-input,
.content-wrapper .login-register .form-field input[type=password].valid-input,
.content-wrapper .login-register .form-field textarea.valid-input,
.content-wrapper .login-register .form-field select.valid-input {
  border-color: #66a54e;
}
.content-wrapper .login-register .form-field input[type=text].valid-input + span:after,
.content-wrapper .login-register .form-field input[type=email].valid-input + span:after,
.content-wrapper .login-register .form-field input[type=password].valid-input + span:after,
.content-wrapper .login-register .form-field textarea.valid-input + span:after,
.content-wrapper .login-register .form-field select.valid-input + span:after {
  color: #66a54e;
  content: '\f058';
}
.content-wrapper .login-register .form-field input[type=text].invalid-input,
.content-wrapper .login-register .form-field input[type=email].invalid-input,
.content-wrapper .login-register .form-field input[type=password].invalid-input,
.content-wrapper .login-register .form-field textarea.invalid-input,
.content-wrapper .login-register .form-field select.invalid-input {
  border-color: #da4444;
}
.content-wrapper .login-register .form-field input[type=text].invalid-input + span:after,
.content-wrapper .login-register .form-field input[type=email].invalid-input + span:after,
.content-wrapper .login-register .form-field input[type=password].invalid-input + span:after,
.content-wrapper .login-register .form-field textarea.invalid-input + span:after,
.content-wrapper .login-register .form-field select.invalid-input + span:after {
  color: #da4444;
  content: '\f057';
}
.content-wrapper .login-register .form-field input[type=text]:focus,
.content-wrapper .login-register .form-field input[type=email]:focus,
.content-wrapper .login-register .form-field input[type=password]:focus,
.content-wrapper .login-register .form-field textarea:focus,
.content-wrapper .login-register .form-field select:focus,
.content-wrapper .login-register .form-field input[type=text]:active,
.content-wrapper .login-register .form-field input[type=email]:active,
.content-wrapper .login-register .form-field input[type=password]:active,
.content-wrapper .login-register .form-field textarea:active,
.content-wrapper .login-register .form-field select:active {
  border-color: #3585c0;
  box-shadow: none;
}
.content-wrapper .login-register .form-field input[type=text]:focus + span:after,
.content-wrapper .login-register .form-field input[type=email]:focus + span:after,
.content-wrapper .login-register .form-field input[type=password]:focus + span:after,
.content-wrapper .login-register .form-field textarea:focus + span:after,
.content-wrapper .login-register .form-field select:focus + span:after,
.content-wrapper .login-register .form-field input[type=text]:active + span:after,
.content-wrapper .login-register .form-field input[type=email]:active + span:after,
.content-wrapper .login-register .form-field input[type=password]:active + span:after,
.content-wrapper .login-register .form-field textarea:active + span:after,
.content-wrapper .login-register .form-field select:active + span:after {
  color: #3585c0;
}
.content-wrapper .login-register .form-field textarea {
  height: auto;
}
.content-wrapper .login-register .nav-btn {
  width: auto;
  height: auto;
  font: inherit;
  background: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3585c0;
  background-color: #ffffff;
  border-color: #3585c0;
  text-shadow: none;
  text-overflow: ellipsis;
  transition: all 0.1s ease-in;
  box-shadow: none;
  margin: 0;
  padding: 0.5em 1.2em;
  outline: none;
  overflow: hidden;
  border-color: #a7a7a7 !important;
  color: #555555 !important;
  /*
    &:focus {
        background-color: @bg-color;
        color: @fg-color;
        border-color: @fg-color;
    }



    & when (@fg-color = @black) {
        border-color: @bg-color;
    }

    &:focus, &:active {
        .ionisx-btn-hover(@fg-color, @bg-color);

        outline: none;
    }

    &:hover {
        .ionisx-btn-hover(@fg-color, @bg-color);
    }
    */
  width: 100%;
}
.content-wrapper .login-register .nav-btn:focus,
.content-wrapper .login-register .nav-btn:active:focus,
.content-wrapper .login-register .nav-btn.active:focus,
.content-wrapper .login-register .nav-btn.focus,
.content-wrapper .login-register .nav-btn:active.focus,
.content-wrapper .login-register .nav-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.content-wrapper .login-register .nav-btn:hover,
.content-wrapper .login-register .nav-btn:focus,
.content-wrapper .login-register .nav-btn.focus {
  color: #333333;
  text-decoration: none;
}
.content-wrapper .login-register .nav-btn:active,
.content-wrapper .login-register .nav-btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.content-wrapper .login-register .nav-btn.disabled,
.content-wrapper .login-register .nav-btn[disabled],
fieldset[disabled] .content-wrapper .login-register .nav-btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
a.content-wrapper .login-register .nav-btn.disabled,
fieldset[disabled] a.content-wrapper .login-register .nav-btn {
  pointer-events: none;
}
.content-wrapper .login-register .nav-btn:focus,
.content-wrapper .login-register .nav-btn.focus {
  color: #3585c0;
  background-color: #e6e6e6;
  border-color: #19405c;
}
.content-wrapper .login-register .nav-btn:hover {
  color: #3585c0;
  background-color: #e6e6e6;
  border-color: #286490;
}
.content-wrapper .login-register .nav-btn:active,
.content-wrapper .login-register .nav-btn.active,
.open > .dropdown-toggle.content-wrapper .login-register .nav-btn {
  color: #3585c0;
  background-color: #e6e6e6;
  border-color: #286490;
}
.content-wrapper .login-register .nav-btn:active:hover,
.content-wrapper .login-register .nav-btn.active:hover,
.open > .dropdown-toggle.content-wrapper .login-register .nav-btn:hover,
.content-wrapper .login-register .nav-btn:active:focus,
.content-wrapper .login-register .nav-btn.active:focus,
.open > .dropdown-toggle.content-wrapper .login-register .nav-btn:focus,
.content-wrapper .login-register .nav-btn:active.focus,
.content-wrapper .login-register .nav-btn.active.focus,
.open > .dropdown-toggle.content-wrapper .login-register .nav-btn.focus {
  color: #3585c0;
  background-color: #d4d4d4;
  border-color: #19405c;
}
.content-wrapper .login-register .nav-btn:active,
.content-wrapper .login-register .nav-btn.active,
.open > .dropdown-toggle.content-wrapper .login-register .nav-btn {
  background-image: none;
}
.content-wrapper .login-register .nav-btn.disabled,
.content-wrapper .login-register .nav-btn[disabled],
fieldset[disabled] .content-wrapper .login-register .nav-btn,
.content-wrapper .login-register .nav-btn.disabled:hover,
.content-wrapper .login-register .nav-btn[disabled]:hover,
fieldset[disabled] .content-wrapper .login-register .nav-btn:hover,
.content-wrapper .login-register .nav-btn.disabled:focus,
.content-wrapper .login-register .nav-btn[disabled]:focus,
fieldset[disabled] .content-wrapper .login-register .nav-btn:focus,
.content-wrapper .login-register .nav-btn.disabled.focus,
.content-wrapper .login-register .nav-btn[disabled].focus,
fieldset[disabled] .content-wrapper .login-register .nav-btn.focus,
.content-wrapper .login-register .nav-btn.disabled:active,
.content-wrapper .login-register .nav-btn[disabled]:active,
fieldset[disabled] .content-wrapper .login-register .nav-btn:active,
.content-wrapper .login-register .nav-btn.disabled.active,
.content-wrapper .login-register .nav-btn[disabled].active,
fieldset[disabled] .content-wrapper .login-register .nav-btn.active {
  background-color: #ffffff;
  border-color: #3585c0;
}
.content-wrapper .login-register .nav-btn .badge {
  color: #ffffff;
  background-color: #3585c0;
}
@media (max-width: 767px) {
  .content-wrapper .login-register .nav-btn {
    white-space: normal;
  }
}
@media (min-width: 992px) {
  .content-wrapper .login-register .nav-btn {
    width: auto;
    height: auto;
    width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
.content-wrapper .login-register .action-primary {
  width: auto;
  height: auto;
  font: inherit;
  background: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #3585c0;
  border-color: #ffffff;
  text-shadow: none;
  text-overflow: ellipsis;
  transition: all 0.1s ease-in;
  box-shadow: none;
  margin: 0;
  padding: 0.5em 1.2em;
  outline: none;
  overflow: hidden;
  /*
    &:focus {
        background-color: @bg-color;
        color: @fg-color;
        border-color: @fg-color;
    }



    & when (@fg-color = @black) {
        border-color: @bg-color;
    }

    &:focus, &:active {
        .ionisx-btn-hover(@fg-color, @bg-color);

        outline: none;
    }

    &:hover {
        .ionisx-btn-hover(@fg-color, @bg-color);
    }
    */
  width: 100%;
  font-weight: 600;
}
.content-wrapper .login-register .action-primary:focus,
.content-wrapper .login-register .action-primary:active:focus,
.content-wrapper .login-register .action-primary.active:focus,
.content-wrapper .login-register .action-primary.focus,
.content-wrapper .login-register .action-primary:active.focus,
.content-wrapper .login-register .action-primary.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.content-wrapper .login-register .action-primary:hover,
.content-wrapper .login-register .action-primary:focus,
.content-wrapper .login-register .action-primary.focus {
  color: #333333;
  text-decoration: none;
}
.content-wrapper .login-register .action-primary:active,
.content-wrapper .login-register .action-primary.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.content-wrapper .login-register .action-primary.disabled,
.content-wrapper .login-register .action-primary[disabled],
fieldset[disabled] .content-wrapper .login-register .action-primary {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
a.content-wrapper .login-register .action-primary.disabled,
fieldset[disabled] a.content-wrapper .login-register .action-primary {
  pointer-events: none;
}
.content-wrapper .login-register .action-primary:focus,
.content-wrapper .login-register .action-primary.focus {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #bfbfbf;
}
.content-wrapper .login-register .action-primary:hover {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #e0e0e0;
}
.content-wrapper .login-register .action-primary:active,
.content-wrapper .login-register .action-primary.active,
.open > .dropdown-toggle.content-wrapper .login-register .action-primary {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #e0e0e0;
}
.content-wrapper .login-register .action-primary:active:hover,
.content-wrapper .login-register .action-primary.active:hover,
.open > .dropdown-toggle.content-wrapper .login-register .action-primary:hover,
.content-wrapper .login-register .action-primary:active:focus,
.content-wrapper .login-register .action-primary.active:focus,
.open > .dropdown-toggle.content-wrapper .login-register .action-primary:focus,
.content-wrapper .login-register .action-primary:active.focus,
.content-wrapper .login-register .action-primary.active.focus,
.open > .dropdown-toggle.content-wrapper .login-register .action-primary.focus {
  color: #ffffff;
  background-color: #22567c;
  border-color: #bfbfbf;
}
.content-wrapper .login-register .action-primary:active,
.content-wrapper .login-register .action-primary.active,
.open > .dropdown-toggle.content-wrapper .login-register .action-primary {
  background-image: none;
}
.content-wrapper .login-register .action-primary.disabled,
.content-wrapper .login-register .action-primary[disabled],
fieldset[disabled] .content-wrapper .login-register .action-primary,
.content-wrapper .login-register .action-primary.disabled:hover,
.content-wrapper .login-register .action-primary[disabled]:hover,
fieldset[disabled] .content-wrapper .login-register .action-primary:hover,
.content-wrapper .login-register .action-primary.disabled:focus,
.content-wrapper .login-register .action-primary[disabled]:focus,
fieldset[disabled] .content-wrapper .login-register .action-primary:focus,
.content-wrapper .login-register .action-primary.disabled.focus,
.content-wrapper .login-register .action-primary[disabled].focus,
fieldset[disabled] .content-wrapper .login-register .action-primary.focus,
.content-wrapper .login-register .action-primary.disabled:active,
.content-wrapper .login-register .action-primary[disabled]:active,
fieldset[disabled] .content-wrapper .login-register .action-primary:active,
.content-wrapper .login-register .action-primary.disabled.active,
.content-wrapper .login-register .action-primary[disabled].active,
fieldset[disabled] .content-wrapper .login-register .action-primary.active {
  background-color: #3585c0;
  border-color: #ffffff;
}
.content-wrapper .login-register .action-primary .badge {
  color: #3585c0;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .content-wrapper .login-register .action-primary {
    white-space: normal;
  }
}
@media (min-width: 992px) {
  .content-wrapper .login-register .action-primary {
    width: auto;
    height: auto;
    width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
.content-wrapper .login-register .form-type,
.content-wrapper .login-register .toggle-form {
  margin-bottom: 40px;
}
.content-wrapper > .passwordreset {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
  max-width: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 30px;
  background: none;
}
@media (min-width: 768px) {
  .content-wrapper > .passwordreset {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content-wrapper > .passwordreset {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .content-wrapper > .passwordreset {
    width: 1170px;
  }
}
.content-wrapper > .passwordreset > .navbar-header,
.content-wrapper > .passwordreset > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .content-wrapper > .passwordreset > .navbar-header,
  .content-wrapper > .passwordreset > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.content-wrapper > .passwordreset .introduction {
  background: none;
  margin: 0;
}
.content-wrapper > .passwordreset .introduction header h1 {
  font: inherit;
  font-size: 22px;
  color: #3585c0;
  text-transform: none;
}
.content-wrapper > .passwordreset > div {
  border: 0 none;
  background: none;
}
.content-wrapper > .passwordreset .content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .content-wrapper > .passwordreset .content {
    margin-right: -300px;
    padding-right: 340px;
    float: left;
  }
}
.content-wrapper > .passwordreset .content p {
  font: inherit;
  color: inherit;
}
.content-wrapper > .passwordreset .content a {
  font: inherit;
  color: #3585c0;
}
.content-wrapper > .passwordreset .content form .status {
  outline: none;
  box-shadow: none;
  border: 0 none;
  background: none;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  color: inherit;
  border-radius: 4px;
}
.content-wrapper > .passwordreset .content form .status h2,
.content-wrapper > .passwordreset .content form .status h3,
.content-wrapper > .passwordreset .content form .status h4,
.content-wrapper > .passwordreset .content form .status h5 {
  font: inherit;
  text-transform: none;
  margin: 0;
  color: inherit;
  letter-spacing: normal;
  font-weight: 600;
}
.content-wrapper > .passwordreset .content form .status p,
.content-wrapper > .passwordreset .content form .status ul {
  font: inherit;
  color: inherit;
}
.content-wrapper > .passwordreset .content form .status p:last-child,
.content-wrapper > .passwordreset .content form .status ul:last-child {
  margin-bottom: 0;
}
.content-wrapper > .passwordreset .content form .status a {
  color: inherit;
  text-decoration: underline;
}
.content-wrapper > .passwordreset .content form .status.alert-warning {
  background-color: #ecbe70;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.alert-danger,
.content-wrapper > .passwordreset .content form .status.alert-error {
  background-color: #de5959;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.alert-info {
  background-color: #4392cb;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.alert-success {
  background-color: #73b15b;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.submission-error {
  outline: none;
  box-shadow: none;
  border: 0 none;
  background: none;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  color: inherit;
  border-radius: 4px;
  background-color: #de5959;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.submission-error h2,
.content-wrapper > .passwordreset .content form .status.submission-error h3,
.content-wrapper > .passwordreset .content form .status.submission-error h4,
.content-wrapper > .passwordreset .content form .status.submission-error h5 {
  font: inherit;
  text-transform: none;
  margin: 0;
  color: inherit;
  letter-spacing: normal;
  font-weight: 600;
}
.content-wrapper > .passwordreset .content form .status.submission-error p,
.content-wrapper > .passwordreset .content form .status.submission-error ul {
  font: inherit;
  color: inherit;
}
.content-wrapper > .passwordreset .content form .status.submission-error p:last-child,
.content-wrapper > .passwordreset .content form .status.submission-error ul:last-child {
  margin-bottom: 0;
}
.content-wrapper > .passwordreset .content form .status.submission-error a {
  color: inherit;
  text-decoration: underline;
}
.content-wrapper > .passwordreset .content form .status.submission-error.alert-warning {
  background-color: #ecbe70;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.submission-error.alert-danger,
.content-wrapper > .passwordreset .content form .status.submission-error.alert-error {
  background-color: #de5959;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.submission-error.alert-info {
  background-color: #4392cb;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .status.submission-error.alert-success {
  background-color: #73b15b;
  color: #ffffff;
}
.content-wrapper > .passwordreset .content form .list-input {
  color: inherit;
  font: inherit;
}
.content-wrapper > .passwordreset .content form .list-input > li {
  position: relative;
}
.content-wrapper > .passwordreset .content form label {
  font: inherit;
  color: inherit;
  text-shadow: none;
}
.content-wrapper > .passwordreset .content form input {
  font: inherit;
  color: inherit;
  display: inline-block;
  margin: 0;
}
.content-wrapper > .passwordreset .content form input[type=password] {
  background: none;
  background-color: #ffffff;
  font: inherit;
  color: inherit;
  height: 34px;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #cccccc;
  outline: none;
  padding: 0.6em 1em;
  transition: all 0.1s ease-in;
}
.content-wrapper > .passwordreset .content form input[type=password] + span:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  top: 0.2em;
  right: 0.5em;
}
.content-wrapper > .passwordreset .content form input[type=password].valid-input {
  border-color: #66a54e;
}
.content-wrapper > .passwordreset .content form input[type=password].valid-input + span:after {
  color: #66a54e;
  content: '\f058';
}
.content-wrapper > .passwordreset .content form input[type=password].invalid-input {
  border-color: #da4444;
}
.content-wrapper > .passwordreset .content form input[type=password].invalid-input + span:after {
  color: #da4444;
  content: '\f057';
}
.content-wrapper > .passwordreset .content form input[type=password]:focus,
.content-wrapper > .passwordreset .content form input[type=password]:active {
  border-color: #3585c0;
  box-shadow: none;
}
.content-wrapper > .passwordreset .content form input[type=password]:focus + span:after,
.content-wrapper > .passwordreset .content form input[type=password]:active + span:after {
  color: #3585c0;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
  width: auto;
  height: auto;
  font: inherit;
  background: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #3585c0;
  border-color: #ffffff;
  text-shadow: none;
  text-overflow: ellipsis;
  transition: all 0.1s ease-in;
  box-shadow: none;
  margin: 0;
  padding: 0.5em 1.2em;
  outline: none;
  overflow: hidden;
  /*
    &:focus {
        background-color: @bg-color;
        color: @fg-color;
        border-color: @fg-color;
    }



    & when (@fg-color = @black) {
        border-color: @bg-color;
    }

    &:focus, &:active {
        .ionisx-btn-hover(@fg-color, @bg-color);

        outline: none;
    }

    &:hover {
        .ionisx-btn-hover(@fg-color, @bg-color);
    }
    */
  font-weight: 600;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active.focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:hover,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].focus {
  color: #333333;
  text-decoration: none;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled],
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
a.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled,
fieldset[disabled] a.content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
  pointer-events: none;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].focus {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #bfbfbf;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:hover {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #e0e0e0;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active,
.open > .dropdown-toggle.content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
  color: #ffffff;
  background-color: #2a6998;
  border-color: #e0e0e0;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active:hover,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active:hover,
.open > .dropdown-toggle.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:hover,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active:focus,
.open > .dropdown-toggle.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active.focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active.focus,
.open > .dropdown-toggle.content-wrapper > .passwordreset .content form .form-actions button[type=submit].focus {
  color: #ffffff;
  background-color: #22567c;
  border-color: #bfbfbf;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].active,
.open > .dropdown-toggle.content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
  background-image: none;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled],
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit],
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled:hover,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled]:hover,
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit]:hover,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled]:focus,
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit]:focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled.focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled].focus,
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit].focus,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled:active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled]:active,
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit]:active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit].disabled.active,
.content-wrapper > .passwordreset .content form .form-actions button[type=submit][disabled].active,
fieldset[disabled] .content-wrapper > .passwordreset .content form .form-actions button[type=submit].active {
  background-color: #3585c0;
  border-color: #ffffff;
}
.content-wrapper > .passwordreset .content form .form-actions button[type=submit] .badge {
  color: #3585c0;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
    white-space: normal;
  }
}
@media (min-width: 992px) {
  .content-wrapper > .passwordreset .content form .form-actions button[type=submit] {
    width: auto;
    height: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
.content-wrapper > .passwordreset aside {
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
  float: right;
}
@media (max-width: 767px) {
  .content-wrapper > .passwordreset aside {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrapper > .passwordreset aside {
    display: none !important;
  }
}
.content-wrapper > .passwordreset aside p {
  font: inherit;
  color: inherit;
  font-size: 0.9em;
}
.content-wrapper > .passwordreset aside a {
  font: inherit;
  color: #3585c0;
}
.content-wrapper > .activation {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
  max-width: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .content-wrapper > .activation {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content-wrapper > .activation {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .content-wrapper > .activation {
    width: 1170px;
  }
}
.content-wrapper > .activation > .navbar-header,
.content-wrapper > .activation > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .content-wrapper > .activation > .navbar-header,
  .content-wrapper > .activation > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.content-wrapper > .activation .message {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 0 none;
}
.content-wrapper > .activation .message h1 {
  margin-top: 0;
  text-align: left;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #cccccc;
}
.content-wrapper > .activation .message h1.valid {
  background: none;
  border: 0 none;
  color: inherit;
}
.content-wrapper > .activation .message h1:before {
  font-family: 'FontAwesome';
  content: '\f084';
  margin-right: 15px;
}
.content-wrapper > .activation .message hr {
  display: none;
}