@mixin custom-error() {
  background-color: lighten($brand-danger, 5%);
  color: lighten($brand-danger, 60%);
}

@mixin custom-warning() {
  background-color: lighten($brand-warning, 5%);
  color: lighten($brand-warning, 60%);
}

@mixin custom-info() {
  background-color: lighten($brand-primary, 5%);
  color: lighten($brand-primary, 60%);
}

@mixin custom-success() {
  background-color: lighten($brand-success, 5%);
  color: lighten($brand-success, 60%);
}

@mixin custom-alert() {
  outline: none;
  box-shadow: none;
  border: 0 none;
  background: none;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  color: inherit;
  border-radius: $border-radius-base;

  h2, h3, h4, h5 {
    font: inherit;
    text-transform: none;
    margin: 0;
    color: inherit;
    letter-spacing: normal;
    font-weight: 600;
  }

  p, ul {
    font: inherit;
    color: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &.alert-warning {
    @include custom-warning();
  }

  &.alert-danger, &.alert-error {
    @include custom-error();
  }

  &.alert-info {
    @include custom-info();
  }

  &.alert-success {
    @include custom-success();
  }
}

@mixin custom-alert-error() {
  @include custom-alert();
  @include custom-error();
}

@mixin custom-alert-warning() {
  @include custom-alert();
  @include custom-warning();
}

@mixin custom-alert-info() {
  @include custom-alert();
  @include custom-info();
}

@mixin custom-alert-success() {
  @include custom-alert();
  @include custom-success();
}

