@mixin custom-btn($fg-color, $bg-color) {
    @include bsquare(auto);

    font: inherit;
    @include button-variant($fg-color, $bg-color, $fg-color);

    text-shadow: none;
    text-overflow: ellipsis;
    transition: all .1s ease-in;
    box-shadow: none;
    margin: 0;
    padding: 0.5em 1.2em;
    outline: none;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: $border-radius-base;
    background-image: none;

    @media (max-width: $screen-xs-max) {
        white-space: normal;
    }

    &:hover, &:disabled, &:hover:not(:disabled) {
      background-image: none;
    }
}

@mixin custom-btn-hover($fg-color, $bg-color) {
    background: none;
    background-color: $fg-color;
    color: $bg-color;
    border-color: $bg-color;
    box-shadow: none;
    background-image: none;

    @if $bg-color == $white {
        border-color: $fg-color;
    }

    @if $bg-color == $black {
        border-color: $fg-color;
    }
}

@mixin custom-btn-disabled($fg-color: $btn-link-disabled-color) {
    @include custom-btn($fg-color, $white);

    cursor: default;
}
