.custom-input {
    background: none;
    background-color: $white;
    font: inherit;
    color: inherit;
    height: 34px;
    box-shadow: none;
    border-radius: $border-radius-base;
    border: 1px solid $btn-default-border;
    outline: none;
    padding: 0.6em 1em;
    transition: all .1s ease-in;

    & + span:after {
        display: inline-block;
        font-family: 'FontAwesome';
        font-size: 1.5em;
        position: absolute;
        z-index: 10;
        top: 0.2em;
        right: 0.5em;
    }

    &.valid-input {
        border-color: $brand-success;

        & + span:after {
            color: $brand-success;
            content: '\f058';
        }
    }

    &.invalid-input {
        border-color: $brand-danger;

        & + span:after {
            color: $brand-danger;
            content: '\f057';
        }
    }

    &:focus, &:active {
        border-color: $brand-primary;
        box-shadow: none;

        & + span:after {
            color: $brand-primary;
        }
    }
}
