<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="static-container contact">
    <h1>${_("Contact")}</h1>
    <p>${_("If you find yourself with questions that the FAQs page does not address, feel free to contact us at <a href='mailto:bettered@bettercarpeople.com'>bettered@bettercarpeople</a>")}</p>
    <p>${_("We can also be reached at 855.448.4219")}</p>
    <p>${_("More information on availability, email <a href='mailto:bettered@bettercarpeople.com'>bettered@bettercarpeople</a>")}</p>
    <p>${_("You can also visit our website at bettercarpeople.com to learn more about who we are and what we are doing for the automotive industry.")}</p>
    </section>
</main>