body header.global,
body header.global-new,
body header.global.slim {
    @include bsquare(auto);
    // @extend .navbar;
    // @extend .navbar-default;

    padding: 0;
    border: 0 none;
    background-color: $brand-primary;
    margin-bottom: 0;
    transition: all .2s ease-in;
    box-shadow: none;
    border-radius: 0 !important;

    &:hover {
        background-color: transparentize($brand-primary, 0.2);
    }


    > nav {
        @include custom-container();

        padding-top: 15px;
        padding-bottom: 15px;

        h1.logo {
            margin: 0 30px 0 0;
            padding: 0;
            float: left;

            &:before {
                display: none;
            }

            a {
                @include bsize($logo-img-width, 36px);
                @extend .text-hide;

                background-image: url($logo-img-path);
                background-size: contain;
                background-repeat: no-repeat;

                @media (max-width: $screen-xs-max) {
                    @include bsize($logo-sm-img-width, 36px);

                    background-image: url($logo-sm-img-path);
                }
            }
        }

        h2 {
            @include bsquare(auto);

            font: inherit;
            font-size: 0.9em;
            margin: 0.9em 0 0 0;
            padding: 0;
            text-shadow: none;
            color: $body-bg;

            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }

        .nav-global {
            margin: 0.6em 0 0 0;

            @media (max-width: $screen-xs-min) {
                display: none;
            }

            a {
                font: inherit;
                font-weight: 500;
                letter-spacing: inherit;
                padding: 0;
                color: $body-bg;
                text-transform: none;
                border: 0 none;

                &:hover {
                    color: $white;
                }

                &:focus {
                    color: $white;
                    text-decoration: underline;
                }

                &.cta-register {
                    display: none;
                }
            }
        }

        /** Begin Problem **/
        .nav-courseware {
            margin: 0;

            div {
                margin: 0 5px 0 0;

                &:last-child {
                    margin: 0;
                }
            }

            a {
                &.cta-login, &.cta-register {
                    @include custom-btn($brand-primary, $white);

                    text-transform: none;
                }

                &.cta-register {
                    display: none;
                }
            }
        }

        /* Begin New Problem **/
        ol.user {
            margin: 0;

            > li.primary > a {
                @include custom-btn($brand-primary, $white);

                font-weight: normal;
                border-radius: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-radius: $border-radius-base 0 0 $border-radius-base;
                border: 1px solid $border-color;

                &.user-link {
                    max-width: 120px;

                    i.fa {
                        display: none;
                    }

                    div {
                        margin: 0;
                        padding: 0;
                    }
                }


                &.dropdown.active {
                    @include custom-btn-hover($brand-primary, $white);
                }

                &.dropdown {
                    padding: 7px 8px;
                    border-left: none;
                    border-radius: 0 $border-radius-base $border-radius-base 0;
                    letter-spacing: normal;
                }

                > span.avatar {
                    display: none;
                    background: none;
                }
            }

            ul.dropdown-menu {
                @include bsquare(auto);

                padding: 0;
                z-index: 10;
                top: 36px;
                left: initial;
                right: 0;
                box-shadow: none;
                border: 1px solid $brand-primary;
                border-top: 0 none;
                border-top-right-radius: 0;
                background-color: $white;

                &:before {
                    display: none;
                }

                > li {
                    transition: all .1s ease-in;
                    border: 0 none;
                    padding: 2px 8px;
                    color: $brand-primary;

                    > a {
                        border: 0 none;
                        outline: none;
                        padding: 0;
                        letter-spacing: normal;
                        color: inherit;
                        overflow: visible;

                        &:hover, &:focus, &:active {
                            background: none;
                            color: inherit;
                        }
                    }

                    &:hover {
                        background-color: $brand-primary;
                        color: $white;

                        > a {
                            color: inherit;
                        }
                    }
                }

            }
        }
    }
}
