body,
.view-login,
.view-register,
.view-passwordreset {
  background-color: $body-bg;
}

p {
  line-height: 1.3em;
}
.course-title {
text-transform: none !important;
}
.course-organization {
text-transform: none !important;
}

@import 'header';
@import 'modal';
@import 'footer';
