#lean_overlay {
    background: none;
    background-color: transparentize($black, 0.4);
}

.modal, .leanModal_box {
  @extend .custom-modal;

  &.video-modal {
    @extend .custom-container-modal;
    @extend .custom-video-modal;
  }

  button.dismiss:not(.close-modal) {
    @include custom-btn($white, $brand-success);
  }
}

body {
  section.wiki {
    #cheatsheet-modal {
      @extend .custom-modal;
    }

    #hint_id_content {
      position: relative;
      top: 0px;
    }

    .btn {
      @include custom-btn($text-color, $body-bg);

      &.btn-primary {
        @include custom-btn($body-bg, $brand-primary);
      }

      &.btn-danger {
        @include custom-btn($body-bg, $brand-danger);
      }

      i.icon {
        display: none;
      }
    }
  }
}


#forgot-password-modal {
    @extend .custom-modal;

    #password-reset {
        padding: 0;

        header {
            margin: 0 0 2em 0;
            padding: 0;

            h2 {
                margin: 0;
                font: inherit;
                font-size: $font-size-h2;
                font-weight: $headings-font-weight;
                text-transform: none;
                text-align: center;
                color: $brand-primary;
            }
        }

        .instructions {
            padding: 0 0 1em 0;

            p {
                margin: 0 0 1em 0;
            }
        }

        form {
            fieldset {
                legend {
                    display: none;
                }

                label {
                    font: inherit;

                    &:after {
                        display: none;
                    }
                }

                .field.is-focused {
                    label, .tip {
                        color: inherit;
                    }
                }

                input[type=email] {
                    @extend .custom-input;
                }
            }

            button[type=submit] {
                @include custom-btn($white, $brand-success);
            }
        }
    }
}
