> .book-wrapper {
    @include custom-container();

    margin-top: $layout-top-spacing / 2;
    position: relative;
    min-height: 80vh;

    > .book-sidebar {
        @include bsize(100%, auto);
        @include make-md-column(3);
        @include make-lg-column(3);

        display: block;
        font: inherit;
        float: left;
        border: 1px solid $border-color;
        border-radius: $border-radius-base;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: none;
        padding: 0;
        background: none;
        background-color: white;

        @media (max-width: $screen-sm-max) {
            @include bsquare(100%);

            border-radius: $border-radius-base;
            margin: 0 0 1em 0;
            float: none;
        }

        ul#booknav {
            font-size: 0.9em;

            a, a:hover {
                color: $brand-primary;
            }
        }
    }

    > .book {
        @include bsize(100%, auto);
        @include make-md-column(9);
        @include make-lg-column(9);

        display: block;
        border: 1px solid $border-color;
        border-left: 0 none;
        border-radius: $border-radius-base;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;
        overflow: hidden;
        background-color: $white;

        @media (max-width: $screen-sm-max) {
            @include bsquare(auto);

            border-radius: $border-radius-base;
            float: none;
        }
    }
}
