.course-wrapper {
  @include bsize(100%, auto);

  padding: 0;

  .course-index {
    @include bsquare(100%);
    @include make-md-column(3);
    @include make-lg-column(3);

    padding: 0;
    display: block;
    font: inherit;
    background: none;
    border-radius: 0;
    border: 0 none;
    transition: none;
    box-sizing: border-box;
    border-right: 1px solid $border-color;

    @media (max-width: $screen-sm-max) {
      border-right: none;
      border-bottom: 2px solid $border-color;
    }

    #courseware-search-bar {
      display: none;
    }

    #accordion {
      font: inherit;

      .chapter {
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid $border-color;
        padding: 0;

        &:last-child {
          border: 0 none;
        }

        &.is-open {
          font-weight: $headings-font-weight;
        }

        h3 {
          font: inherit;
          padding: 0.6em 0.8em;

          .ui-accordion-header-icon {
            left: 0.6em;
          }

          a {
            font: inherit;
            color: $black;

            &:hover {
              text-decoration: none;
            }
          }
        }

        ul {
          font: inherit;
          font-weight: 500;
          background: none;
          background-color: $white;
          padding: 0.6em;

          li {
            margin: 0 0 0.6em 0;

            &:last-child {
              margin: 0;
            }

            a {
              font: inherit;
              color: $brand-primary;
              background: none;
              padding: 0.3em 0.5em;
              border-radius: $border-radius-base;
              border: 1px solid transparent;
              box-shadow: none;

              &:hover {
                border-color: $border-color;
              }

              p {
                font: inherit;
                color: inherit;

                &.subtitle {
                  color: $black;
                }
              }
            }

            &.graded {
              a:after {
                content: '\f017';
                font-family: 'FontAwesome';
                font-size: 1.2em;
                position: absolute;
                right: 0.5em;
                bottom: 0.15em;
              }

              img {
                display: none;
              }
            }

            &.active {
              font: inherit;

              a {
                border-color: $brand-primary;
                background-color: $brand-primary;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  .course-content {
    @include bsquare(100%);
    @include make-md-column(9);
    @include make-lg-column(9);

    font: inherit;
    display: block;
    margin: 0 0 0 -1px;
    padding: 30px;

    border-left: 1px solid $border-color;

    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }

    @import 'xblock';

    .sequence-nav {
      margin: 0 0 2em 0;
      border: 0 none;

      button {
        @include bsize(34px, 44px);

        border: 1px solid $border-color;
        background: #ccc;
        box-shadow: none;
        text-shadow: none;
      }

      ul {
        li {
          @include bsize(auto, 44px);

          background: none;
          box-shadow: none;
          border: 2px solid $border-color;
          overflow: hidden;

          a {
            margin: 0;
            transition: none;
            overflow: hidden;
            background-position: center 12px;

            &.disabled {
              background-color: $border-color;
            }
          }
        }
      }

      .sequence-list-wrapper {
        background: none;
        box-shadow: none;
        border: 0 none;
        margin: 0 32px;
        padding: 0;

        .left-shadow, .right-shadow {
          display: none;
        }

        ol {
          padding: 0;

          li {
            min-width: 0;

            &:first-child a {
              border-left: 2px solid $border-color;
            }

            &:last-child a {
              border-right: 2px solid $border-color;
            }

            a {
              @include bsize(auto, 40px);

              text-align: center;
              background: none;
              border: 2px solid transparent;
              box-shadow: none;
              color: $text-color;
              border-top: 2px solid $border-color;
              border-bottom: 2px solid $border-color;

              @media (max-width: $screen-sm-max) {
                display: none;
              }

              &.active {
                background-color: $brand-primary;
                color: $body-bg;
                border-color: $brand-primary;

                @media (max-width: $screen-sm-max) {
                  display: block;
                  border: 2px solid $brand-primary;
                }

                &.progress-none {
                  border-color: $brand-primary;
                  color: $brand-primary;
                }

                &.progress-some {
                  border-color: $brand-warning;
                  color: $brand-warning;
                }

                &.progress-in_progress {
                  border-color: $brand-warning;
                  color: $brand-warning;
                }

                &.progress-done {
                  border-color: $brand-success;
                  color: $brand-success;
                }
              }

              &.inactive, &.visited {
                &.progress-none, &.progress-0 {
                  background-color: $border-color;

                  &:hover {
                    background: $white;
                    color: lighten($text-color, 30%);
                  }
                }

                &.progress-some, &.progress-in_progress {
                  background-color: $brand-warning;
                  border-color: $brand-warning;

                  &:hover {
                    background-color: $white;
                    color: $brand-warning;
                  }
                }

                &.progress-done {
                  background-color: $brand-success;
                  border-color: $brand-success;

                  &:hover {
                    background-color: $white;
                    color: $brand-success;
                  }
                }
              }

              &:hover {
                text-decoration: none;
              }

              &:after {
                font: inherit;
                color: inherit;
                content: '\f040';
                font-family: 'FontAwesome';
                font-size: 1.2em;
                display: block;
                margin: 13px auto 0;
                padding: 0
              }

              &.seq_video:after {
                content: '\f03d';
              }

              &.seq_problem:after {
                content: '\f040';
              }

              > p {
                display: none;
              }

              .icon.fa {
                display: none;
              }
            }
          }
        }
      }
    }

    h2 {
      margin-top: 0
    }

    .sequence-bottom {
      @include bsquare(auto);

      margin: 2em 0;
      text-align: center;

      .prev, .next {
        background: none;
        display: inline-block;
        position: static;
        border: 2px solid $border-color;
        overflow: hidden;
        margin: 0 -1px;

        a {
          background-position: center center;
          transition: none;

          &.disabled {
            background-color: $color-disabled;
          }
        }
      }
    }
  }
}
