body .wiki-wrapper {
  padding: 0;

  header {
    box-sizing: content-box;
  }

  button {
    vertical-align: top;
  }

  .article-functions {
    ul.nav {
      li {
        float: none;
        margin-bottom: 0;
      }
    }
  }
}
